language: go
sudo: required
go:
  - 1.9
install:
  - git clone https://github.com/json-c/json-c.git
  - cd json-c
  - sudo apt-get install build-essential
  - sh autogen.sh
  - ./configure
  - make
  - sudo make install
  - go get -t -v ./...
script:
  - make core